<h1><%= @conv.subject %></h1>
<h2><%= @conv.topic_name %></h2>
<h3>Started at <%= @conv.created_at.to_formatted_s(:short)  %> by  <%= @conv.author_username %></h3>

<div id="message_list">
  <% @conv.messages.each do |msg| %>
    <%= render partial: 'message_block', locals: {msg: msg} %>
  <% end %>
</div>


<h3>Add a message</h3>
<% if current_user %>
  <%= form_for @message do |f| %>
    <%= hidden_field_tag 'message[conversation_id]', @conv.id %>
    <%= f.label :content, 'Your Message' %> <br>
    <%= f.text_area :content, rows:8, cols:50 %>
    <%= f.submit %>
  <% end %>
<% else %>
  <%= link_to 'Log in to add a message', new_session_path(target_page: request.fullpath) %>
<% end %>