<h1><%= @conv.subject %></h1>
<h2><%= @conv.topic_name %></h2>
<h3>Started at <%= @conv.created_at.to_formatted_s(:short)  %> by  <%= @conv.author_username %></h3>

<% @conv.messages.each do |msg| %>
message
  <%= render partial: 'message_block', locals: {msg: msg} %>
<% end %>

